<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcsp.Mapper">



    <select id="selectTopCategoryByName" parameterType="String" resultType="TopCategory">
        select id,name,isActive
        from dbo.[TopCategory]
        where name = #{name}
    </select>

    <insert id="insertTopCategory" parameterType="TopCategory">
         insert into TopCategory (id,name,isActive)
         values (#{id},#{name},#{isActive})
    </insert>

    <insert id="insertHotWords" parameterType="map">
        insert into HotWord(id,topCategoryID,name,isDoneBaidu,isDoneZhihu)
        values
        <foreach item="h" collection="hotwords" separator=",">
            (#{h.id},#{h.topCategoryID},#{h.name},#{h.isDoneBaidu},#{h.isDoneZhihu})
        </foreach>
    </insert>

    <select id="selectAllHotWord" resultMap="HotWordResultMap">
        select id,topCategoryID,name,isDoneBaidu,isDoneZhihu
        from dbo.[HotWord]

    </select>


    <resultMap id="HotWordResultMap" type="com.github.monalisali.entity.HotWord">
        <result property="id" column="id"/>
        <result property="topCategoryID" column="topCategoryID"/>
        <result property="hotWordName" column="hotWordName"/>
    </resultMap>

</mapper>